/* content-area.scss */

.content-area {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

@media ($tablet) {
  .content-area {
    flex-direction: column;
  }
}

@media ($phone) {
  .content-area {

  }
}
